<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>출퇴근 시간의 정확성을 높이기 위해 &apos;항상 허용&apos;이 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>출퇴근 시간의 정확성을 높이기 위해 &apos;항상 허용&apos;이 필요합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
